<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LANDING PAGE</title>
    <link rel="stylesheet" href="styles/style.css">
   
</head>
<body>
    <div class="container">
        <div class="heading">
        <h1>WELCOME TO TEST LANDING PAGE</h1>
    </div>
    <div class="content">
        <p>This is a simple Node.js web application.</p>
        <select name="TEST" id = "test">
            <option value="alpha">Alpha</option>
            <option value="beta">Beta</option>
            <option value="omega">Omega</option>
            <option value="zeta">Zeta</option>
        </select>
    </div>
    </div>
</body>
</html>
